div{
    width:60vw;
    height: 70vh;
    border:1px solid gray;
    background-color: tomato;
    background-image: url(Media/dog.jpeg), url("https://preview.redd.it/free-persian-cats-for-adoption-v0-gbcobyvm0ebd1.jpg?width=640&crop=smart&auto=webp&s=ee6f1288aa294414f55e38bd19f4d01dd18c8ed6"),url("https://www.shutterstock.com/image-photo/beautiful-horse-running-autumn-600nw-2430263853.jpg");
    background-repeat:no-repeat ;
    background-size: 15vh ;
    background-position:right top, left top, center bottom;
    
}