*{
    box-sizing: border-box;
    margin: 0;padding: 0;
}
.container1{
width: 200px;height: 200px;
background:darkred;
margin-bottom:80px;
}
.container2{
width: 200px;height: 200px;
background:darkblue;
margin-bottom:80px;
}