/* Kinds of Selector -
1. Universal Selector
2. Tag Selector
3. Class Selector 
4. Id Selector
5. Attribute Selector
*/
/*===========Universal Selector=========*/
*{
    box-sizing: border-box;
    margin:0;padding: 0;
}

/*===========Tag Selector=========*/
p{
    color: blue;
    
}

/*===========Class Selector=========*/

.thikana{
    font-size: 18px;
}
/*===========Id Selector=========*/
#para{
    color:gray;
}
/*===========Attribute Selector=========*/
[title]{
    color:red;
}