*{
    box-sizing: border-box;
    margin:0;padding: 0;
}

h1{ width: 560px;
    background: rgb(226, 129, 129);
    margin:auto;text-align: center;
    margin-top: 50px;color: white;
}
table{
    border: 1px;
    border-color: white;
    background-color: #fb887c;
    margin: auto;
}
table tr th,td{
    padding: 20px;
    
}