/* Custom Font */
@font-face {
    font-family:"Mahim Dewan";
    src: url(fonts/Holy.otf);
}

h2{
    font-size: 50px;
    font-family: "Mahim Dewan";
}

/* Custom font */
@font-face {
    font-family: humay;
    src: url(fonts/Rupom.ttf);
}
p{
    font-size: 50px;
    font-family:humay;
}

span{
    font-size: 100px;
    font-family: "Fascinate Inline", system-ui;
    text-transform: capitalize;
}