/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

/* Variables */
:root{
    --title-size:2.5rem;
    --subtitle-size:1.7rem;
    --name-size:1rem;
    --blue:#4169E1;
}

/* Universal Select */
*{
    box-sizing: border-box;
    margin: 0;padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
body{
    background:#222222;
    color:#fff;
}
.container{
    padding: 2rem;
    margin-top: 1rem;
}

/* Header Style Start */
.header{
    position: sticky;
    top:-5.5rem;
    z-index: 1111;
    background:#222222;
    border-bottom: 1px solid gray;
    padding-bottom: 0;
}
.header__left{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.header__left img{
    width:50px;
    border-radius: 50%;
}
.header__left h2{
    font-family: "SUSE", sans-serif;
    letter-spacing: 0.3rem;
}
.header__right{
    margin: 1rem 0;
}
.header__list{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1rem;
}
.header__item{
    list-style: none;
}
.header__link{
    text-decoration: none;
    color:#fff;
    font-weight: 600;

}
.header__link:hover{
    color:var(--blue);
}

/* Hero Style Start */

.hero__area{
    margin-top:3rem;
}
.hero__left{
    width: 100%;
    
}
.hero__left img{
    width:300px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}
.hero__right{
    text-align: center;
    padding: 1rem;

}
.hero__title{
    font-size: 2rem;
}
.hero__describe{
    text-align: left;
    font-size: 1.2rem;
    line-height:2rem;
}

/* Resume Style Area */

.resume__area{
    margin-top: 5rem;
    
}
.resume__sub_container{
    margin: 5rem 0;
}
.title{
    text-align: center;
    font-size:var(--title-size);
    margin-bottom: 2rem;
}
.resume__left img{
    width: 300px;
    display: block;
    margin: 0 auto;
}
.resume__subtitle{
    font-size: var(--subtitle-size);
}
.underline{
    width:150px;
    height: 2px;
    background: gray;
}
.inner__line{
    width:50px;
    height: 2px;
    background: var(--blue);
}
.resume__list{
    margin-top: 1rem;
}
.resume__item{
    border-left: 2px solid gray;
    padding-top: 1rem;
    position: relative;
}
.resume__item > i{
    position: relative;
    top: 3px;
    left: -12px;
    font-size: 1.5rem;
    color: gray;
}
.resume__duration{
    background: black;
    border-radius: 30px;
    display: inline-block;
    padding: 0.5rem 1rem;
    margin-left: -0.5rem;
}
.resume__company{
    margin-top: 0.5rem;
    margin-left: 1rem;
    font-size: var(--name-size);
}
.resume__under_title{
    margin-top: 0.2rem;
    margin-left: 1rem;
    color:gray;
}

/* Certificate Style Area */
.certificate__list{
    margin-top:5rem;
}
.certificate__item{
    margin: 2rem 0;
    display: flex;
    align-items: center;
    border:1px solid gray;
    border-radius: 10px;
    transition:all 0.5s;
}
.certificate__item:hover{
    transform: translatey(-10px);
    box-shadow: 1px 1px 21px -9px #fff;
}
.certificate__item_left{
    background: #444444;
    height:10rem;
    border-top-left-radius:10px ;
    border-bottom-left-radius: 10px;
}
.certificate__item_left img{
    width: 150px; 
}
.certificate__item:nth-of-type(1) .certificate__item_left img {
    margin-top: 2rem;
}
.certificate__item_right{
    padding: 1rem;
}
.certificate__item_title{
    padding-bottom: 0.5rem;
    color:#fff;
    font-weight: 600;
}
.certificate__item_institude{
    padding-bottom: 0.5rem;
    color:gray;
}
.certificate__item_date{
    padding-bottom: 0.5rem;
    color:gray;
}
.certificate__item_link{
    color:gray;
}
.certificate__all{
    text-align: center;
    margin: 2rem 0;
}
.certificate__all a{
    border-radius: 50px;
    background: #444444;
    padding: 1rem 3rem;
    text-decoration: none;
    color:#fff;
    border:1px solid #fff;
    font-weight: 600;
}
.certificate__all a:hover{
    border:none;
    background: #fff;
    color:#222222
}

/* Skills Style Area */
.skill{
    margin-top: 5rem;
}
.skill__container{
    width: 80%;
    margin: 0 auto;
}
.skill__sub_title{
    font-size: var(--subtitle-size);
}
.skill__item{
    margin: 1rem 0;
}
.skill__progress{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.skill__name{
    font-size: var(--name-size);
    font-weight: 400;
}
.skill__parcent{
    color:gray;
}
.skill__progress_bar{
    width: 100%;
    height: 0.5rem;
    border: 1px solid gray;
    border-radius: 30px;
}
.skill__progress_bar::-webkit-progress-value{
    background:#3b82f6;
}

/* Portfolio Style Area */
.portfolio__area{
    
}
.portfolio__container{
    width: 300px;
    height:300px;
    border: 1px solid gray;
    border-radius: 10px;
    margin: 2rem auto;
}
.portfolio__container:hover{
    background: #77777733;
}
.portfolio__container_top{
    height:150px;
    overflow:hidden;
}
.portfolio__container_top img{
    width:100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.portfolio__container_bottom{
    padding:0 2rem;
}
.portfolio__container_title{
    font-size: var(--name-size);
    padding-top: 1rem;
}
.portfolio__container_para{
    font-size: 0.8rem;
    color:gray;
    padding: 1rem 0;

}
.portfolio__container_link{
    font-size: 0.8rem;
    color:gray;
    padding-top: 1rem;
}
.portfolio__container_link i{
    margin-left: 5px;
}
.portfolio__all_project{
    text-align: center;
    margin: 2rem 0;
}
.all__project{
    border-radius: 50px;
    background: #444444;
    padding: 1rem 3rem;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    font-weight: 600;
    margin: 0 auto;
    
}
.all__project:hover{
    border:none;
    background: #fff;
    color:#222222
}
/* Contact Style Area */
.contact{
    margin-top:10rem;
}
.contact__area{
    margin-top:3rem;
}

.contact__phone,
.contact__mail,
.contact__location{
    color:#fff;
    text-decoration: none;
    padding:0.5rem 2rem;
    font-size: 1rem;
}
.contact__input{
    margin-left: 2rem;
}
.contact__title{
    padding:4rem 0 2rem 0;
}
.contact__input_left input{
    display:block;
    width: 80%;
    padding:1rem;
    margin-bottom: 1rem;
    background:transparent;
    outline: none;
    border:1px solid gray;
    border-radius: 10px;
    color:#fff;
    font-size: 1rem;
}
.contact__input_right textarea{
    width: 80%;
    padding:1rem;
    font-size: 1rem;
    color:#fff;
    margin-bottom: 1rem;
    background:transparent;
    outline: none;
    border:1px solid gray;
    border-radius: 10px;
}
.contact__submit{
    width:60%;
    padding:0.8rem 1rem;
    margin-bottom: 1rem;
    background:transparent;
    outline: none;
    border:1px solid #3b82f6;
    border-radius: 10px;
    color:#fff;
    font-size:0.8rem;
    transition: 0.5s;
    cursor: pointer;
}
.contact__submit:hover{
    border: none;
    background:#3b82f6;
}

/* Footer Style Area */
.footer__area{
    text-align: center;
    border-top: 1px solid gray;
    padding: 1rem 0;
    margin-top:10rem;
}
.footer__link{
    text-decoration: none;
    color: #fff;
    padding: 0 0.5rem;
    font-size: 0.8rem;
}
.footer__rights{
    padding:0.5rem 0;
    font-size: 0.8rem;
}